.table-view:focused{
    -fx-background-color: -fx-table-cell-border-color, -fx-background;
    -fx-background-insets: 0,0 0 1 0;
}
.button{
    -fx-background-color: transparent;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-padding: 0 0 0 0;
    -fx-border-insets: 5px;
    -fx-background-insets: 5px;
}
